# Ignore all hidden system files and directories
.*
# Ignore the specific system 'filesystem' file
filesystem
# Ignore all standard system folders
.cache/
.config/
.dbus/
.kube/
.local/
.mozilla/
.ssh/
.theia/
.vnc/

# But ALLOW the 'app' directory and the Rigveda work
!app/
!app/**
!.gitignore
